In [1]:
import requests
import json
import pandas as pd
import numpy as np
import urllib

In [5]:
url = "http://localhost:7001/blood_mode"
filepath = 'C:/Users/nikit.patel.PRIYASOFT/Nikit/DRIVENDATA/Warm Up Predict Blood Donations/test.csv'
data = json.dumps({'filepath': filepath})
r = requests.post(url, data)

print (r.json())

{'prediction': [1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1]}

In [6]:
test = pd.read_csv('test.csv')

In [22]:
test.head(10)

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,prediciton
0,2,12,3000,52,1
1,21,7,1750,38,1
2,4,1,250,4,0
3,11,11,2750,38,1
4,4,12,3000,34,1
5,3,21,5250,42,1
6,4,2,500,4,0
7,14,1,250,14,0
8,23,2,500,87,1
9,14,4,1000,64,1

In [23]:
test['prediciton'] = r.json()['prediction']

In [24]:
test.head(10)

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,prediciton
0,2,12,3000,52,1
1,21,7,1750,38,1
2,4,1,250,4,0
3,11,11,2750,38,1
4,4,12,3000,34,1
5,3,21,5250,42,1
6,4,2,500,4,0
7,14,1,250,14,0
8,23,2,500,87,1
9,14,4,1000,64,1